### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [157]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
#purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [158]:
df = pd.read_csv(file_to_load, index_col = 'Purchase ID')

tp = pd.DataFrame(df['SN'].unique())

pd.DataFrame(tp.count(), columns=["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

In [159]:
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
#
#
#
from IPython.display import HTML
#use a dictionary and create a df from it.
items_count = pd.DataFrame(df['Item ID'].unique())
dict = {"Number of Unique Items":items_count.count(), "Average Price":df['Price'].mean(), 
        'Number of Purchases':df['Price'].count()
        , 'Total Revenue': df['Price'].sum()}

sdf = pd.DataFrame(data= dict,  index=None)

sdf.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                            "text-align": "center"
                           })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [221]:
male_df = df.loc[df['Gender'] == 'Male',:]
fm_df = df.loc[df['Gender'] == 'Female',:]
o_df = df.loc[df['Gender'] == 'Other / Non-Disclosed',:]

In [178]:
mc = len(np.unique(male_df['SN']))
fc = len(np.unique(fm_df['SN']))
oc = len(np.unique(o_df['SN']))
total_player_count = len(np.unique(df['SN']))

In [202]:
count_dict = {'Total count': [mc, fc, oc]}
gendex=['Male','Female', 'Other / Non-Disclosed']
count_df = pd.DataFrame(data=count_dict, index = gendex)   
count_df['Percentage of Players'] = [mc/total_player_count*100, 
                                     fc/total_player_count*100, 
                                     oc/total_player_count*100]
count_df.index.name='Gender'

count_df['Percentage of Players'] = count_df['Percentage of Players'].map('{:,.2f}%'.format)
count_df.style.set_properties(**{'background-color': 'blue',
                           'color': 'yellow',
                            "text-align": "center"
                           })


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [313]:
#I finally got this groupby to work but i left my earlier work in the dict I used to make the final DataFrame

gen_grouped = df.groupby('Gender')

avg_purcpp = gen_grouped['Price'].sum()

total_players = gen_grouped.nunique()["SN"]

purch_dict={"Purchase Count":[len(fm_df), len(male_df), len(o_df)],
           'Average Purchase Price':[fm_df['Price'].mean(), male_df['Price'].mean(), o_df['Price'].mean()],
            'Total Purchase Value': avg_purcpp,
            "Avg Purchase Total per Person": avg_purcpp/total_players
           }


get_demos = pd.DataFrame(data=purch_dict)



get_demos = get_demos.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                            "text-align": "center"
                        
                           }).format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})


get_demos

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [345]:
#Establish bins for ages
abin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
rows = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
df['Age Group'] = pd.cut(df["Age"], abin, labels=rows)

#Calculate the numbers and percentages by age group
ag = df.groupby("Age Group")
total_ag = ag['SN'].nunique()
ag_percent = (total_ag/total_player_count)*100
ag_percent

#Create a summary data frame to hold the results

age_df = pd.DataFrame(total_ag)
age_df['Percentage of Players']= ag_percent
#Optional: round the percentage column to two decimal points
age_df.rename(index=str,columns={"SN":'Total Count'},inplace=True)
#Display Age Demographics Table
age_df.style.format({'Percentage of Players':'{:,.2f}%'}).set_properties(**{'background-color': 'HoneyDew',
                                                                       'color': 'Indigo',
                                                                        "text-align": "center"
                                                                           })

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [383]:
#Bin the purchase_data data frame by age
bin2 = [9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
rows2 = ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df['Age Group'] = pd.cut(df["Age"], bin2, labels=rows2)



#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
calc_gb = df.groupby("Age Group")
avg_price = calc_gb['Price'].mean()
purch_count = calc_gb['Price'].count()
total_purchases = calc_gb['Price'].sum()
avg_pp = total_purchases/total_ag
#Create a summary data frame to hold the results
age_stats = pd.DataFrame({"Purchase Count": purch_count,
                            "Average Purchase Price": avg_price,
                            "Total Purchase Value":total_purchases,
                            "Avg Purchase Total per Person": avg_pp})

age_stats.style.format({'Average Purchase Price':'${:,.2f}',
                       'Total Purchase Value':'${:,.2f}',
                       'Avg Purchase Total per Person':'${:,.2f}'}).set_properties(**{'background-color': 'HoneyDew',
                                                                       'color': 'Indigo',
                                                                        "text-align": "center"
                                                                           })


#Optional: give the displayed data cleaner formatting
#Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [403]:
sn_grouped = df.groupby("SN")
sn_purch_count = sn_grouped['Price'].count()
avg_price_sn = sn_grouped['Price'].mean()
sn_total_purch = sn_grouped['Price'].sum()
#Sort the total purchase value column in descending order
high_rollers_club = pd.DataFrame({"Purchase Count": sn_purch_count,
                                "Average Purchase Price": avg_price_sn,
                                 "Total Purchase Value":sn_total_purch})


high_rollers_club = high_rollers_club.sort_values(["Total Purchase Value"], ascending=False)

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame
high_rollers_club.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [428]:
#Retrieve the Item ID, Item Name, and Item Price columns
items = df[['Item ID', 'Item Name', 'Price']]
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
items_gb = items.groupby(['Item ID', 'Item Name'])
item_purch = items_gb['Price'].count()
item_revenue = items_gb['Price'].sum()
Price = item_revenue/item_purch

#Create a summary data frame to hold the results
item_df = pd.DataFrame({'Purchase Count':item_purch,
                        'Item Price':Price,
                        'Total Purchase Value':item_revenue
})


#Sort the purchase count column in descending order
sorted_df = item_df.sort_values(['Purchase Count'], ascending=False).head()

#Optional: give the displayed data cleaner formatting
style_sorted_df  = sorted_df.style.format({'Total Purchase Value':'${:,.2f}',
                                           'Item Price':'${:,.2f}'}).set_properties(**{'background-color': 'HoneyDew',
                                                                                                           'color': 'Indigo',
                                                                                                            "text-align": "center",
                                                                                                             })
#Display a preview of the summary data frame

style_sorted_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [429]:
style_sorted_df